@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Lora&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Lora', sans-serif; */
  background-color: #f8f8f8;
}

main {
  /* Lägg till variabel för längd på header och footer så detta ändras automatiskt */
  min-height: calc(100vh - 23.75rem)
}